<!DOCTYPE html>
<html ng-app="HC_App" ng-controller="HC_Ctrl">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta http-equiv="Cache-Control" content="no-store, max-age=0" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link href="../css/lib/bootstrap.min.css" rel="stylesheet">
  <link href="../css/common.css" rel="stylesheet">
  <link href="../css/agtx_player.css" rel="stylesheet">
  <script src="../js/lib/jquery-3.3.1.min.js"></script>
  <script src="../js/lib/popper.min.js"></script>
  <script src="../js/lib/bootstrap.min.js"></script>
  <script src="../js/lib/angular.min.js"></script>
  <script src="../js/message.js"></script>
  <script src="../js/common.js"></script>
  <script src="../js/preview.js"></script>
  <script src="../js/lib/flv.min.js"></script>
  <script src="../js/lib/idb.min.js"></script>
  <script src="../js/agtx_player_check.js"></script>
  <script type="module" src="../js/agtx_player_srv.js"></script>
  <script type="module" src="../js/agtx_player_vm.js"></script>
  <script type="module">
  import { AugentixWebAudio } from '../js/modules/augentix-web-audio.js';
  $(async function() {
    // web player
    const mainUrl = window.flvLiveAudio0;
    const subUrl = window.flvLiveAudio1;
    const { core, snapshot, recording } = window.augentixPlayerViewModel || {};
    core?.init({ langId, mainUrl, subUrl });
    snapshot?.init({ core });
    await recording?.init({ core });

    // two-way audio
    if (window.location.protocol !== 'https:') {
      return;
    }
    let agtxAudioCtx = null;
    agtxAudioCtx = await AugentixWebAudio.create({
      langId, // global
      websocketURL, // global
    });
  });
  </script>
  <title>Augentix</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        <div class="row">
          <div class="thumbnail"><img src="../img/Augentix_Logo_270x42-04.png" style="width:60%"></div>
          <div class="col-sm-8"></div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid text-center" ng-cloak="">
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p ng-hide="x.hide" ng-repeat="x in LMenu"><a href="{{x.href}}" target="_self">{{x.txt[lang]}}</a></p>
      </div>
      <div class="col-sm-8 text-left">
        <div>
          <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
              <h2>{{msg_t.Preview[lang]}}</h2>
              <div id="agtx-player-preview"></div>
              <h2>{{msg_t.Recording[lang]}}</h2>
              <div id="agtx-player-recording"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
